
  .play-video a span {
    cursor: pointer;

  }
  .vdeo-sec i{
    position: absolute; top: 54px;font-size: 40px; 
    color: black;
    right: 122px;
  }
  .video-para{
    font-size: 14px;
    width: 45%;
  }
  .vdeo-sec video{
    margin: 0;
    padding: 0;
    object-fit: fill;
    height: 115px;
  }

  @media screen and (max-width: 575px) {
  .play-video a{
font-size: 13px;
  }
  .video-para{
    font-size: 12px;
    width: 90%;

  }
  .vdeo-sec i{
    /* display: none; */
    left: 60px;
    top: 24px;
}
  }
  


@media screen and (min-width: 576px)and (max-width: 992px)  {
  .vdeo-sec i{
     top: 42px;
    font-size: 40px; 
    right: 99px;
  }

}